.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 0.1rem solid #ccc;
  padding: 1rem;
  text-align: left;
}

.table th {
  background-color: #b1b1b1;
  font-weight: bold;
}
