.wrapper {
    position: relative;
    width: 200px;
}


.trigger {
    background-color: unset;
    border: 1px solid rgba(0, 0, 0, 0.2);

    width: 100%;
    height: 40px;
    padding: 10px;

    font-size: 18px;
}

.dropdownContent {
    position: absolute;
    width: 200px;
}

.dropdownList {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.18);
    width: 100%;
}


.dropdownItem {
    height: 20px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

.dropdownItem:hover {
    background-color: rgba(128, 128, 128, 0.28);
}
